.sidebar-container {
  background-color: #403d52;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 60px;
    padding: 10px;
    border-bottom: 1px solid #c9c9c9;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
  width: 100%;
  color: #ffffff;
}
.sidebar-items :hover {
  color: #78d0d3;
}

.sidebar-icon {
  padding-top: 10px;
  padding-right: 5px;
  margin-top: 10px;
}
.item-text {
  padding: 10px;
  margin-top: 10px;
  font-size: large;
  text-transform: capitalize;
}

.sidebar-footer{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
